body, html{
    margin:0;
    padding:0;
}

body {
    font-family: 'Lato', sans-serif;
    background: linear-gradient(to right, #1565C0, #b92b27);
}

.contenedor {
    width: 100%;
    padding: 10px 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo {
    color: white;
}

/* Estilo general de la tarjeta */

.tarjeta__contenedor {
    background-image: url(img/fondo-tarjeta.jpeg);
    border-radius: 30px;
    background-size: cover;
    width: 25%;
    height: 150px;
    padding: 30px;
}

.tarjeta__chip {
    width: 40px;
    height: 35px;
}

.tarjeta__info {
    display: flex;
}

.tarjeta__datos {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    color: white;
    font-weight: 500;
    font-size: 18px;
}

.tarjeta__marca {
    width: 80px;
    height: 80px;
    margin-top: 70px;
    margin-left: 100px;
}

.formulario {
    background-color: #FF5733;
    border-radius: 30px;
    width: 35%;
    height: 200px;
    padding: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.formulario__nombre,
.formulario__numero {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.formulario__nombre input,
.formulario__numero input {
    border-radius: 5px;
    height: 30px;
    width: 80%;
    margin-top: 5px;
}

.formulario__numero {
    margin-top: 5px;
}

.formulario__button {
    border: none;
    border-radius: 10px;
    height: 35px;
    width: 60%;
    background-color: #2364d2;
    cursor: pointer;
    margin-top: 15px;
    margin-right: 90px;
    color: white;
}