* {
    padding: 0px;
    margin: 20px;
    margin-bottom: 5px;
}

body {
    font-family: 'Lato', sans-serif;
    padding: 2px;
    margin: 0;
    background: #378b8b;
}

.contenedor {
    width: 90%;
    max-width: 500px;
    padding: 10px 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    /* para posicionar los elementos en columna */
    display: flex;
}

/* Estilo general de la tarjeta */

.tarjeta {
    width: 100%;
    height: 260px;
    max-width: 1000px;
    cursor: pointer;
    background-image: url(img/pais.jpeg);
    box-shadow: 20px 20px 10px grey;
    background-size: cover;
    border-radius: 30px;
}

.frontal .chip {
    width: 100%;
    max-width: 50px;
}

.datos {
    position: absolute;
    font-size: 20px;
    width: 50%;
    height: 100px;
    max-width: 1000px;
    cursor: pointer;
    border-radius: 15px;
    color: white;
}


.form-tarjeta {
    background-color: #24303c;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 180px;
    right: 65px;
    border-radius: 10px;
    width: 600px;
    color: white;

}


.form-tarjeta input,
.form-tarjeta select {
    border: 2px solid rgb(43, 89, 226);
    font-size: 20px;
    height: 30px;
    width: 80%;
    padding: 5px 12px;
    border-radius: 5px;
    margin-left: 40px;
    margin-top: 5px;
    box-shadow: 1px 7px 10px -5px;
    background: #24303c;
    ;
}

.btnEnviar {
    border: none;
    padding: 5px;
    font-size: 20px;
    height: 35px;
    width: 80%;
    border-radius: 10px;
    margin-left: 60px;
    cursor: pointer;
    background-color: #2364d2;
    color: white;

}